version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: vortex
    depends_on:
      - database
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html/
    networks:
      - app_net

  database:
    image: mysql:8.0
    restart: always
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: bob
      MYSQL_DATABASE: vortex
      MYSQL_USER: bob
      MYSQL_PASSWORD: bob
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_net

  phpmyadmin:
    image: phpmyadmin
    restart: always
    container_name: phpmyadmin
    ports:
      - 8081:80
    environment:
      PMA_HOST: database
      PMA_USER: bob
      PMA_PASSWORD: bob
    depends_on:
      - database
    networks:
      - app_net

  node:
    image: "node:16"
    user: "node"
    working_dir: /var/www/html/
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/var/www/html/
    command: >
      bash -c "yarn install
      && yarn dev
      && yarn watch"

networks:
  app_net:

volumes:
  db_data:
