version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: vortex
    depends_on:
      - database
    ports:
      - 80:80
    volumes:
      - ./:/var/www/html/
    networks:
      - app_net
    environment:
      - DATABASE_URL=mysql://root:root@database:3306/vortex?serverVersion=8.0
    tty: true

  database:
    image: mysql:8.0
    restart: always
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_net

  phpmyadmin:
    image: phpmyadmin
    restart: always
    container_name: phpmyadmin
    links:
      - database
    ports:
      - 8081:80
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    networks:
      - app_net

networks:
  app_net:

volumes:
  db_data:
