{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    {% block content_title %}Dashboard{% endblock %}

        <div>
            <h2>Statistics</h2>
            <p>Users count : {{ userCount }}</p>
            <p>Articles count : {{ articleCount }}</p>
        </div>

{% endblock %}

{# {% block main %}{{ render_chart(chart) }}{% endblock %} #}
