<footer>
    <div class="footer_container">
        <div class="about">
            <h5>About Us</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, soluta impedit nisi tempora expedita nostrum molestiae, harum minus odio placeat explicabo? Beatae iste deleniti labore provident voluptatibus in obcaecati officia!</p>
        </div>
        <div class="footer_info">
            <div>
                <h5>Social Links</h5>
                <ul class="social">
                    <li><a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i> Github</a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i> Faceook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                </ul>
            </div>
            <div>
                <h5>Quick Contact</h5>
                <div class="contact">
                    <h6>Phone:</h6>
                    <p>+33 635443347</p>
                </div>
                <div class="contact">
                    <h6>Email:</h6>
                    <p>alexandre.desmot@otoktone.fr</p>
                </div>
            </div>
            <div>
                <h5>Policies</h5>
                <div class="contact">
                    <h6>Cookies:</h6>
                    <p>-link-</p>
                </div>
                <div class="contact">
                    <h6>Confidentiality:</h6>
                    <p>-link-</p>
                </div>
            </div>
        </div>
        <img class="footer_logo1" src="{{ asset('build/images/logos/logo_colors.png') }}" alt="logo vortex flux aggregator contact footer">
        <img class="footer_logo2" src="{{ asset('build/images/logos/logo_colors.png') }}" alt="logo vortex flux aggregator contact footer">
    </div>
</footer>