///////////////////
// VORTEX COLORS //
///////////////////

$black: #000;
$white: #fff;
$dark: rgb(40 40 40);
$shadow: rgba(40, 40, 40, 0.5);
$grey: rgba(125, 125, 125, 0.5);
$lightGrey: rgb(200, 200, 200);
$border: hsla(0, 0%, 100%, 0.1);
$violet: #140B36;
$perfume: #DA94F3;
$purple: #833FE9;
$lagoon: #00E6F6;