// FORM
form {
    @include input-checkbox;
    padding: 70px 40px 40px 40px;
    margin: auto;
    background-color: $shadow;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    color: rgba(215, 215, 215, 0.75);

    div {
        ul {
            position: relative;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                position: absolute;
                top: -25px;
                left: -25px;
                width: 100%;
                width: 320px;
                font-size: 12px;
                color: $perfume;
                text-align: center;
                opacity: 0.8;
                font-weight: 600;
            }
        }

        display: flex;

        input {
            width: 100%;
            padding: 10px;
            border: none;
            color: $lagoon;
            background-color: $shadow;
            font-weight: 600;
            z-index: 99;

            &:focus-visible {
                outline: none;
            }
        }
    }

    .label {
        display: flex;
        flex-direction: column;
        padding: 20px;

        label {
            font-size: 14px;
            font-family: "Goldman", sans-serif;
        }
    }

    .register_logo {
        position: relative;
        padding: 0;

        img {
            opacity: 0.7;
            position: absolute;
            top: -6rem;
            left: -6rem;
            width: 10rem;
            z-index: 0;
        }
    }

    .register_password {
        position: relative;

        div {
            width: 100%;
        }

        i {
            position: absolute;
            right: 20px;
            top: 38px;
            padding: 10px;
            z-index: 100;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .register_terms {
        display: flex;
        align-items: center;
        padding: 0 0 0 15px;

        div {
            padding: 0;
        }

        span {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.8;
            color: $purple;
        }

        a {
            margin-left: 5px;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.8;
            color: $purple;

            &:hover {
                color: $lagoon;
                opacity: 0.6;
            }
        }
    }

    .register_login {
        padding: 30px 20px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin-left: 5px;
            text-decoration: underline;
            font-weight: 600;
            opacity: 0.8;
            color: $purple;

            &:hover {
                color: $lagoon;
                opacity: 0.6;
            }
        }
    }

    button {
        margin-left: 20px;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            color: $white;
            opacity: 0.6;
            background: linear-gradient(45deg, transparent 5%, $lagoon 5%);
            transform: scale(1.1);
        }
    }

    button,
    button:after {
        width: 150px;
        height: 76px;
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        background: linear-gradient(45deg, transparent 5%, $purple 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        // box-shadow: 6px 0px 0px #00E6F6;
        outline: transparent;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin: 20px 20px 20px;
    }

    button:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);

        content: 'MAY THE FORCE BE WITH YOU';
        display: block;
        position: absolute;
        top: -25px;
        left: -20px;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, $lagoon 3%, $lagoon 5%, $purple 5%);
        text-shadow: -3px -3px 0px $perfume, 3px 3px 0px $lagoon;
        clip-path: var(--slice-0);
    }

    button:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }

        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }

        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }

        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }

        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }

        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }

        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }

        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }

        80% {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }

        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }

        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
    }

    @media (min-width: 768px) {

        button,
        button:after {
            width: 280px;
            height: 50px;
        }
    }
}