body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 230 246 / 35%);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark;
    padding: 20px;
    z-index: 1001;
    border-radius: 10px;
    width: 75vw;
    ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-height: 50vh;
        overflow-y: scroll;
        border-top: none !important;
        list-style: none;
        padding: 0;
        li {
            border-top: none !important;
            border-bottom: none !important;
            color: $white;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            .checkbox-label {
                display: flex;
                align-items: center;
                width: 100%;
                cursor: pointer;
                .checkbox-input {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    &:checked {
                        outline: none;
                    }
                }
            }
        }
    }
}