// Variables
// Fonctions
// Mixins
// Placeholders
// Vendors
// Base
// Components
// Layouts
// Pages
// Themes

// 1.Base
// 2.Utils
// 3.Layout (mise en page)
// 4.Composants
// 5.Pages
// 6.Themes
// 7.Vendors (tiers).

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './assets/styles/utils/variables.scss';
@import './assets/styles/utils/mixins.scss';
@import './assets/styles/base/base.scss';
@import './assets/styles/components/form.scss';
@import './assets/styles/layouts/header.scss';
@import './assets/styles/pages/home.scss';
@import './assets/styles/pages/register.scss';
@import './assets/styles/pages/login.scss';