{% extends "front/layout/layout.html.twig" %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    <main>
        <h1>TITRE EN GROS</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rerum nostrum deserunt possimus nemo ab vero, consectetur exercitationem sapiente eum, fugit odio ipsum accusamus, ducimus aliquam voluptatem. Quod, sequi perspiciatis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
        </div>
        <span class="loader"></span>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rerum nostrum deserunt possimus nemo ab vero, consectetur exercitationem sapiente eum, fugit odio ipsum accusamus, ducimus aliquam voluptatem. Quod, sequi perspiciatis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rerum nostrum deserunt possimus nemo ab vero, consectetur exercitationem sapiente eum, fugit odio ipsum accusamus, ducimus aliquam voluptatem. Quod, sequi perspiciatis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rerum nostrum deserunt possimus nemo ab vero, consectetur exercitationem sapiente eum, fugit odio ipsum accusamus, ducimus aliquam voluptatem. Quod, sequi perspiciatis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rerum nostrum deserunt possimus nemo ab vero, consectetur exercitationem sapiente eum, fugit odio ipsum accusamus, ducimus aliquam voluptatem. Quod, sequi perspiciatis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga delectus laborum cumque est, reiciendis nobis voluptas in facere amet excepturi a quos accusantium quisquam dicta, quo necessitatibus perferendis. Voluptates, odio.</p>
        </div>
    </main>
{% endblock %}