{% extends "front/layout/layout.html.twig" %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    <section id="home" >
        <main>
        <h2>Make your feed aggregator</h2>
        <h1>Vortex Feed Aggregator</h1>
        <p>A feed aggregator is a type of software that brings together various types of Web content and provides it in an easily accessible list.</p>
        </main>
        <div>
            <div>test</div>
        </div>
        {# <span class="loader"></span> #}
    </section>
{% endblock %}