#login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login_error, .login_as {
        font-size: 12px;
        color: $perfume;
        opacity: 0.8;
        font-weight: 600;
        justify-content: center;
        padding: 0;
        a {
            margin-left: 5px;
            text-decoration: underline;
            font-size: 12px;
            font-weight: 600;
            opacity: 0.8;
            color: $purple;

            &:hover {
                color: $lagoon;
                opacity: 0.6;
            }
        }
    }
}