#password {
    display: flex;
    margin: auto;
    justify-content: center;
    // height: 100vh;
    margin: 80px;
    margin-left: 240px;

    form {
        display: flex;
        flex-direction: column;

        div {
            flex-direction: column;
            margin-bottom: 20px;

            label {
                font-size: 14px;
                font-family: "Goldman", sans-serif;
                padding-left: 10px;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 10px;
                border: none;
                color: $lagoon;
                background-color: rgba(40, 40, 40, 0.5);
                font-weight: 600;
                z-index: 99;
            }
        }
    }
}

@media (max-width: 992px) {
    #password {
        margin-left: 0;
        margin: auto;
    }
}