#register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .alert {
    position: absolute;
    top: 100px;
    color: $perfume;
    padding: 5px;
    text-align: justify;
    font-weight: 600;
  }
}
