#headerDashboard {
  height: 80px;
  background: rgba(40, 40, 40, 0.5);
  border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
  left: 240px;
  top: 0;
  position: fixed;
  width: 100%;
}

#sidebar,
:before,
:after {
  box-sizing: border-box;
}

// REUSABLE STYLES
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.list-inline {
  overflow: hidden;

  li {
    float: left;
  }
}

// ASIDE STYLES
.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background: $shadow;
  border-right: 1px solid $border;

  .feedToggle {
    display: flex;
    flex-wrap: wrap;

    .feedList {
      display: flex;
      align-items: center;

      span {
        color: $perfume;
        font-size: 14px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $shadow;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $dark;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked+.slider {
        background-color: $shadow;
      }

      input:focus+.slider {
        box-shadow: 0 0 1px $dark;
      }

      input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}

.logo {
  text-align: center;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding: 1em 0;
    color: $lightGrey;
    text-decoration: none;
    transition: 0.15s linear color;
    padding: 50px;

    &:hover {
      color: $white;

      span {
        color: $lagoon;
      }
    }
  }

  span {
    font-weight: 700;
    transition: 0.15s linear color;
  }
}

// MAIN NAV
.nav-wrap {
  .main-nav {
    ul {
      border-top: solid 1px $border;

      li {
        border-bottom: solid 1px $border;

        a {
          padding: 1.1em 0;
          color: $grey;
          text-align: center;
          display: flex;

          &:hover {
            color: $white;
          }

          i {
            position: absolute;
            left: 0;
            padding: 0 10px;
          }

          span {
            position: relative;
            left: 35px;
          }
        }
      }
    }
  }

  .logout {
    display: block;
    padding: 1em 0;
    color: $lightGrey;
    text-decoration: none;
    transition: 0.15s linear color;
    padding: 50px;
    text-align: center;

    i {
      margin-right: 10px;
    }

    &:hover {
      color: $white;

      i {
        color: $lagoon;
      }
    }
  }
}

// HOVER SLIDE EFFECT
.list-hover-slide {
  li {
    position: relative;
    overflow: hidden;

    a {
      display: block;
      position: relative;
      z-index: 1;
      transition: 0.35s ease color;

      &:before {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-right: solid 5px $lagoon;
        background: $dark;
        transition: all 0.3s ease-in-out;
      }

      &.is-current,
      &:hover {
        &:before {
          left: 0;
        }
      }
    }
  }
}

// FEED RSS

#feed {
  margin-top: 80px;
  margin-left: 240px;

  .feedContainer {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;

    // FEED ARTICLE DASHBOARD
    .feedItem {
      display: flex;
      justify-content: space-evenly;
      background-color: $shadow;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      >div {
        transition: transform 0.3s ease-in-out;
      }

      &:hover>div {
        transform: scale(1.05);
      }

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      // li {
      //   padding: 25px;
      //   color: $white;
      // }
      .feedTitle {
        display: flex;
        flex-direction: column;
        // align-items: center;
        min-height: 125px;
        font-weight: 800;
        padding: 25px 25px 0;
        color: $white;

        p {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          margin: 0;
          color: $lagoon;
          opacity: 0.6;
          font-weight: 100;
          letter-spacing: 1px;
        }

        h3 {
          opacity: 0.9;
        }
      }

      .feedContent {
        padding: 10px 25px;
        color: $white;
        opacity: 0.6;
        font-size: 12px;
      }

      .feedImage {
        width: 100%;

        img {
          width: 100%;
          height: 200px;
          max-height: 275px;
          // min-height: 325px;
          object-fit: contain;
          // padding: 0 25px;
        }
      }

      .feedDescription {
        font-size: 15px;
        opacity: 0.9;
      }

      .feedDateContainer {
        display: flex;
        align-items: end;
        padding-bottom: 20px;

        .feedDate {
          font-size: 12px;
          color: $grey;
          padding: 10px 25px;
        }
      }
    }

    // FEED ARTICLE MODAL
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      overflow: hidden;

      .modalContent {
        background-color: $dark;
        padding: 45px;
        max-width: 600px;
        border-radius: 4px;

        .modalTitle {
          margin-bottom: 10px;

          p {
            font-size: 12px;
            margin: 0;
            color: $lagoon;
            opacity: 0.6;
            font-weight: 100;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }

          h3 {
            color: $white;
          }
        }

        .modalImage {
          text-align: center;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 300px;
            max-height: 300px;
            object-fit: contain;
          }
        }

        .modalDateContainer {
          text-align: right;
          margin-top: 10px;

          .modalDate {
            font-style: italic;
            color: $lightGrey;
            font-size: 10px;
          }
        }

        .modalLink {
          display: flex;
          justify-content: space-around;
          margin: 20px 0;

          a {
            text-decoration: none;
          }
        }

        .close {
          position: absolute;
          top: 5%;
          right: 5%;
          cursor: pointer;
          font-size: 4rem;
          color: $white;

          &:hover {
            transform: rotate(180deg);
            transition: 1s;
          }
        }
      }
    }

  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  #feed .feedContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // gap: 50px;
  }
}