{% extends "front/layout/layout.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}
{% include "front/user/header.html.twig" %}
  <section id="feed">
  </section>
  {% include "front/layout/sidebar.html.twig" %}
{% endblock %}